.container {font-family:'Courier New', sans-serif; width:300px; margin:30px auto 0; text-align: center; font-weight: bold;}
#target,#result {font-size:32px; margin-bottom:15px; background:#ccc; height:60px; line-height: 60px;}
#start, #stop {cursor: pointer; font-size:18px; width:145px; background:#ccc; height:40px; line-height: 40px; box-shadow:0 6px 0 #eee;}
#start.pushed, #stop.pushed {margin-top:3px; box-shadow:0 3px 0 #eee;}
#start {float:left}
#stop {float:right}
#result.perfect {background:skyblue; color:#fff;}
#result.standby {opacity:0.5;}
