body{background:#088a4b; font-family:Arial, sans-serif: font-size:22px;}
.container{margin:100px auto; width:300px; font-weight: bold; text-align: center;}
.dealer, .player, .controls{float:left;}
.dealer, .player{width:50px; height:70px;}
.controls{width:200px; height:70px; position:relative;}
#result{line-height: 70px; color:#f1c40f;}
.btn{cursor:pointer; width:70px; height:70px; border-radius: 50%; background: green; border:solid 5px #fff; font-size:14px; color:#fff; box-shadow:0 5px 0 rgba(0,0,0,0.2); line-height:70px; position: absolute; left:60px;}
#higher{top:-85px;}
#lower{top:70px;}
.card{width:50px; height:70px; background:#fff; border-radius:5px; line-height:70px; box-shadow:0 5px 0 rgba(0,0,0,0.2); }
.card-back{background:#f1c40f; color:#fff; }
#wrapper.open{transform:rotateY(180deg);}
.card-front{transform:rotateY(180deg);}
#wrapper{position:relative; transform-style: preserve-3d; transition:0.3s;}
.card-front, .card-back{position: absolute; top:0; left:0; backface-visibility: hidden;}
.player{perspective:100px;}
#result.hidden{visibility: hidden;}
.dealer{cursor: pointer;}
.btn:hover{margin-top:2px; box-shadow:0 3px 0 rgba(0, 0, 0, 0.2);}
.btn.disabled{opacity:0.4; margin-top:2px; box-shadow:0 3px 0 rgba(0, 0, 0, 0.2);}
